$background: rgb(230, 230, 230);
$text: rgb(20, 20, 20);

$light: rgb(255, 255, 255);
$shadow: rgb(205, 205, 205);

$blue: rgb(145, 191, 255);
$grey: rgb(196, 196, 196);

$fontSize: 16px;
$borderRadius: 8px;
